@model SideXC.WebUI.Models.Inventory.Supplier

@{
    ViewData["Title"] = "Supplier - Edit Item";
}

@Html.AntiForgeryToken()

<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="/#">Home</a></li>
        <li class="breadcrumb-item">Inventory</li>
        <li class="breadcrumb-item active"><a href="@Url.Action("Index", "Suppliers")">Suppliers</a></li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Edit Item
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row">
                                <div class="col-md-12">

                                    <div id="smartwizard">
                                        <ul>
                                            <li><a href="#step-1">General Data</a></li>
                                            <li><a href="#step-2">Address</a></li>
                                            <li><a href="#step-3">Contacts</a></li>
                                        </ul>
                                        <div class="p-3">
                                            <div id="step-1" class="">
                                                <div class="form-row">
                                                    <div class="col-md-12 mb-3">
                                                        <label class="text-secondary font-weight-bold">
                                                            Type the general information for this new Supplier.
                                                        </label>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label asp-for="Name" class="control-label">Supplier Name</label>
                                                        <input asp-for="Name" class="form-control form-control-sm" />
                                                        <span asp-validation-for="Name" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-2 mb-3">
                                                        <label asp-for="RFC" class="control-label"></label>
                                                        <input asp-for="RFC" class="form-control form-control-sm" />
                                                        <span asp-validation-for="RFC" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-2 mb-3">
                                                        <label asp-for="PaymentDay" class="control-label">Payment Day</label>
                                                        <input asp-for="PaymentDay" class="form-control form-control-sm integer" />
                                                        <span asp-validation-for="PaymentDay" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label asp-for="Email" class="control-label">Email Address</label>
                                                        <input asp-for="Email" class="form-control form-control-sm" />
                                                        <span asp-validation-for="Email" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="PaymentMethod" class="control-label">Payement Method </label>
                                                        <select asp-for="PaymentMethod" class="form-control form-control-sm" asp-items="@(new SelectList(ViewBag.PaymentMethods,"Value", "Text"))">
                                                            <option value="">-Please select one-</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="Currrency" class="control-label">Currency </label>
                                                        <select asp-for="Currency" class="form-control form-control-sm" asp-items="@(new SelectList(ViewBag.Currencies,"Value", "Text"))">
                                                            <option value="">-Please select one-</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="step-2" class="">
                                                <div class="form-row">
                                                    <div class="col-md-12 mb-3">
                                                        <label class="text-secondary font-weight-bold">
                                                            Type the correct information, remember with the zip code you can get the all information.
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="txtStreet" class="control-label">Street</label>
                                                        <input id="txtStreet" name="txtStreet" class="form-control form-control-sm" required />
                                                        <span validation-for="txtStreet" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-2 mb-3">
                                                        <label for="txtExternalNumber" class="control-label">External Number</label>
                                                        <input id="txtExternalNumber" name="txtExternalNumber" class="form-control form-control-sm" required />
                                                        <span validation-for="txtExternalNumber" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-2 mb-3">
                                                        <label for="txtInternalNumber" class="control-label">Internal Number</label>
                                                        <input id="txtInternalNumber" name="txtInternalNumber" class="form-control form-control-sm" required />
                                                        <span validation-for="txtInternalNumber" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-2 mb-3">
                                                        <label for="txtZipCode" class="control-label">Zip Code</label>
                                                        <input id="txtZipCode" name="txtZipCode" class="form-control form-control-sm" required />
                                                        <span validation-for="txtZipCode" class="text-danger"></span>
                                                    </div>

                                                    <div class="col-md-3 mb-3">
                                                        <label for="ddColonia" class="control-label">Neighborhood</label>
                                                        <select class="form-control form-control-sm" name="ddColonia" id="ddColonia">
                                                            <option value="">-Please select one-</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label for="lblMunicipio" class="control-label">City</label>
                                                        <label id="lblMunicipio" class="form-control form-control-sm">---</label>
                                                    </div>

                                                    <div class="col-md-3 mb-3">
                                                        <label for="lblEstado" class="control-label">State</label>
                                                        <label id="lblEstado" class="form-control form-control-sm">---</label>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label for="lblPais" class="control-label">Country</label>
                                                        <label id="lblPais" class="form-control form-control-sm">---</label>
                                                    </div>

                                                </div>
                                            </div>
                                            <div id="step-3" class="">
                                                <div class="form-row">
                                                    <div class="col-md-12 mb-3">
                                                        <label class="text-secondary font-weight-bold">
                                                            Puedes capturar todos los medios de contacto que tenga el empleado.
                                                        </label>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label for="txtContactName" class="control-label">Nombre del Contacto</label>
                                                        <input type="text" id="txtContactName" name="txtContactName" class="form-control form-control-sm">
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label for="txtContactDescription" class="control-label">Descripci&oacute;n</label>
                                                        <input type="text" id="txtContactDescription" name="txtContactDescription" class="form-control form-control-sm">
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label for="ddContactType" class="control-label">Tipo de Contacto </label>
                                                        <select id="ddContactType" name="ddContactType" class="form-control form-control-sm" asp-items="@(new SelectList(ViewBag.ContactTypes,"Value", "Text"))">
                                                            <option value="">-Please select one-</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2 mb-3">
                                                        <br />
                                                        <button type="button" class="btn btn-sm btn-outline-secondary btn-pills" title="Agregar nuevo contacto" onclick="AddNewContact()"><span class="fa fa-plus"></span>&nbsp; Agregar </button>
                                                    </div>
                                                    <div class="col-md-12 mb-3">
                                                        <div class="row" id="divContacts"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <input type="hidden" id="hddContacts" name="hddContacts" />
                            <button class="btn btn-primary mt-2" type="button" onclick="Save()"><span class="fa fa-save"></span>&nbsp; Guardar</button>
                            <button id="btnSave" class="btn btn-primary d-none" type="submit"><span class="fa fa-save"></span>&nbsp; Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<link rel="stylesheet" media="screen, print" href="css/formplugins/smartwizard/smartwizard.css">

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="js/formplugins/smartwizard/smartwizard.js"></script>
    <script src="~/js/utilities/common.js"></script>

    <script>

        $(document).ready(function () {

            $("#txtZipCode").change(function () {
                _CallMethod('Employees', 'BuscarCodigoPostal', { zipcode: $(this).val() }, function (_result) {
                    _datos = JSON.parse(_result);
                    DropDownColonias(_datos);

                    $("#lblPais").text(_datos[0].Pais);
                    $("#lblEstado").text(_datos[0].Estado);
                    $("#lblMunicipio").text(_datos[0].Municipio);
                });


            });

            // Smart Wizard
            $('#smartwizard').smartWizard(
                {
                    selected: 0, // Initial selected step, 0 = first step
                    keyNavigation: true, // Enable/Disable keyboard navigation(left and right keys are used if enabled)
                    autoAdjustHeight: false, // Automatically adjust content height
                    cycleSteps: false, // Allows to cycle the navigation of steps
                    backButtonSupport: true, // Enable the back button support
                    useURLhash: false, // Enable selection of the step based on url hash
                    showStepURLhash: false,
                    lang:
                    { // Language variables
                        next: 'Next',
                        previous: 'Previous'
                    },
                    toolbarSettings:
                    {
                        toolbarPosition: 'bottom', // none, top, bottom, both
                        toolbarButtonPosition: 'right', // left, right
                        showNextButton: true, // show/hide a Next button
                        showPreviousButton: true, // show/hide a Previous button
                        /*toolbarExtraButtons: [
                $('<button></button>').text('Finish')
                              .addClass('btn btn-info')
                              .on('click', function(){
                            alert('Finsih button click');
                              }),
                $('<button></button>').text('Cancel')
                              .addClass('btn btn-danger')
                              .on('click', function(){
                            alert('Cancel button click');
                              })
                          ]*/
                    },
                    anchorSettings:
                    {
                        anchorClickable: true, // Enable/Disable anchor navigation
                        enableAllAnchors: false, // Activates all anchors clickable all times
                        markDoneStep: true, // add done css
                        enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
                    },
                    contentURL: null, // content url, Enables Ajax content loading. can set as data data-content-url on anchor
                    contentCache: true, //ajax content
                    disabledSteps: [], // Array Steps disabled
                    errorSteps: [], // Highlight step with errors
                    theme: 'default', //dots, default, circles
                    transitionEffect: 'slide', // Effect on navigation, none/slide/fade
                    transitionSpeed: '400'
                });

        });

        function DropDownColonias(data) {
            var ddColonias = $("#ddColonia");
            ddColonias.empty();
            var procemessage = '<option value="">Selecciona una Colonia</option>';
            ddColonias.html(procemessage).show();

            for (var x = 0; x < data.length; x++) {
                var option = $("<option />").attr("value", data[x].idColonia).text(data[x].Colonia);
                ddColonias.append(option);
            }
        }

        function Save() {

            $('#hddContacts').val(JSON.stringify(_ListContactType));
            var name = $('#Name').val();
            var rfc = $('#RFC').val();
            var paymentDay = $('#PaymentDay').val();
            var email = $('#Email').val();
            var paymentMethod = $('#PaymentMethod').val();
            var currency = $('#Currency').val();
            var street = $('#txtStreet').val();
            var externalNumber = $('#txtExternalNumber').val();
            var zipCode = $('#txtZipCode').val();
            var colonia = $('#ddColonia').val();
            var email = $('#txtEmail').val();
            var contacts = $('#hddContacts').val();
            var listError = [];
            //Validations
            if (name == "") listError.push("El nombre del proveedor es un dato requerido.");
            if (rfc == "") listError.push("El RFC del proveedor es un dato requerido.");
            if (paymentDay == "") listError.push("El día de pago del proveedor es un dato requerido.");
            if (email == "") listError.push("El correo es un dato requerido.");
            if (paymentMethod == "") listError.push("El método de pago del proveedor es un dato requerido.");
            if (currency == "") listError.push("Favor de seleccionar el tipo de moneda.");
            if (street == "") listError.push("La calle es un dato requerido.");
            if (externalNumber == "") listError.push("El número externo es un dato requerido.");
            if (zipCode == "") listError.push("El código postal es un dato requerido.");
            if (colonia == "") listError.push("La colonia es un dato requerido.");
            if (contacts == "") listError.push("Favor de capturar al menos un contacto.");

            if (listError.length > 0) {
                _AlertSideXC(listError, "danger", true);
                return;
            }

            $('#btnSave').click();
        }

        var _NoContactType = 1;

        var AddNewContact = function () {
            var contactName = $('#txtContactName').val();
            var desciption = $('#txtContactDescription').val();
            var contactType = $('#ddContactType :selected').val();

            if (contactName == "") {
                _AlertSideXC("El nombre del contacto es requerido.", "danger");
                return;
            }
            if (desciption == "") {
                _AlertSideXC("La descripción del contacto es requerida.", "danger");
                return;
            }
            if (contactType == "") {
                _AlertSideXC("El tipo de contacto es requerido.", "danger");
                return;
            }

            _addCardToRow(_NoContactType++, contactName, desciption, $('#ddContactType :selected').text(), contactType, "bg-primary")

            $('#txtContactName').val('');
            $('#txtContactDescription').val('');
            $('#ddContactType :selected').val('');
            $('#txtContactDescription').focus();
        }

        var _ListContactType = [];

        var _addCardToRow = function (id, contactName, description, contacttype, contactTypeId, bg) {

            var item = { id: id, contactName: contactName, description: description, contactTypeId: contactTypeId };

            if (ExistsArrayItem(item)) {
                _AlertSideXC("Ya se capturo el tipo de contacto y descripción.", "danger");
                return;
            }

            _ListContactType.push(item);

            var mainDiv = $("<div/>").addClass("col-sm-12 col-md-3 col-lg-3 col-xl-3 mb-2 animated fadeInLeft delay-3s").attr("id", "IdDiv" + id);
            var card = $("<div/>").addClass("card bg-primary text-white shadow");
            var cardBody = $("<div/>").addClass("card-body pill-item");
            var span = $('<span/>').attr("aria-hidden", "true").html('&times;');
            var button = $("<button/>").attr("type", "button").attr("aria-label", "Close").addClass("close").attr("onclick", "RemoveRowEspecialidades('IdDiv" + id + "', " + id + ")").append(span);
            var textContactName = $("<h5/>").addClass("card-title font-weight-bold").text(contactName);
            var textContactType = $("<h5/>").addClass("card-title font-weight-bold").text(contacttype);
            var textDescription = $("<p />").addClass('card-text').text(description);
            card.append(cardBody.append(button).append(textContactName).append(textContactType).append(textDescription));
            mainDiv.append(card);
            $('#divContacts').append(mainDiv);
        }

        var RemoveRowEspecialidades = function (rowId, id) {
            _ListContactType.removeAt(id);
            $(rowId).remove();
        }

        function ExistsArrayItem(item) {
            var exist = false;
            for (var i = 0; i < _ListContactType.length; i++) {
                var row = _ListContactType[i];
                if (row.contactTypeId == item.contactTypeId && row.description == item.description && row.contactName == item.contactName) {
                    exist = true;
                    break;
                }
            }
            return exist;
        }

    </script>

}

